<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>952484382946-pujdnekl735aimeo3t6cg1domkuehtt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952484382946-pujdnekl735aimeo3t6cg1domkuehtt7</string>
	<key>API_KEY</key>
	<string>AIzaSyAZS6UwHOstD3iE19bEKMFWesVGfYdMtFg</string>
	<key>GCM_SENDER_ID</key>
	<string>952484382946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cielabs.EasyGruaCPAR02</string>
	<key>PROJECT_ID</key>
	<string>easygruacpar02</string>
	<key>STORAGE_BUCKET</key>
	<string>easygruacpar02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952484382946:ios:35fd8752a1dc2ce7</string>
	<key>DATABASE_URL</key>
	<string>https://easygruacpar02.firebaseio.com</string>
</dict>
</plist>